@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

$bg-primary: rgba(204, 204, 201, 0.6);
$bg-tertiary: rgba(204, 204, 201, 0.9);
$bg-secondary: rgba(108, 108, 100, 0.8);

// breakpoints

$sm-breakpoint: 576px;
$md-breakpoint: 768px;
$lg-breakpoint: 991px;
$xl-breakpoint: 1200px;
$xxl-breakpoint: 1400px;

@for $i from 1 through 20 {
  .padding-#{$i}{
    padding: 1rem * $i;
  }
}

@for $i from 1 through 20 {
  .padding-top-#{$i}{
    padding-top: 1rem * $i;
  }
}

@for $i from 1 through 20 {
  .margin-top-#{$i}{
    margin-top: 1rem * $i;
  }
}

#root{
  color: white;
}

.App {
  
  text-align: center;
  color: white;
}

  .container {
    margin: 0 auto;
    max-width: 120rem;

    @media screen and (max-width:$sm-breakpoint){
      // which max width for extra small device like my phone???
      max-width: 80%;
    }

    @media screen and (min-width:$sm-breakpoint){
      max-width: 540px;
    }

    @media screen and (min-width:$md-breakpoint){
      max-width: 720px;
    }

    @media screen and (min-width:$lg-breakpoint){
      max-width: 960px;
    }

    @media screen and (min-width:$xxl-breakpoint){
      max-width: 1320px;
    }

  }

.header {
  background-color: $bg-primary;
  .App-header {
    display: flex;
    justify-content: flex-start;
    // align-items: center;
    padding: 1rem;

    a {
      align-self: center;
      margin-right: 3rem;
      .fas{
        font-size: 2rem;
        color:white;
      }
    }

    img {
      width: 15rem;
    }
  }
}


.container-tiles{
  display: flex;
  justify-content: space-between;
  @media screen and (max-width:$lg-breakpoint){
    flex-direction: column;
    min-height: 28rem;
  }
  .tile{
    cursor: pointer;
    border-radius: 1rem;
    flex-basis: 45%;
    background-color: $bg-secondary;
    @media screen and (min-width:$lg-breakpoint){
      min-height: 15rem;
    }
    @media screen and (max-width:$md-breakpoint){
      margin-bottom: 2rem;
    }
    .container-img{
      display: flex;

      img{
        width: 5rem;
  
      }
    }

  }
}


.newNotice{
  .inputNotice{
    background-color: $bg-secondary;
    border-radius: 1rem;
    form{
      @media screen and (max-width:$lg-breakpoint){
        display: flex;
        flex-direction: column;

      }
      .input-container{

        @media screen and (max-width:$lg-breakpoint){
          display: flex;
          flex-direction: column;
          
        }

        @media screen and (min-width:$lg-breakpoint){
          display: flex;
          justify-content: space-between;
          
        }
        input{
          flex-basis: 20%;
          border: 1px solid black;
          @media screen and (min-width:$xl-breakpoint){
            min-width: 10rem;
            
          }
        }
      }

      .container-signature{
        @media screen and (min-width:$md-breakpoint){
          display: flex;
          justify-content: space-around;
        }

      }

    }
  }
}

button{
  font-family: 'Titillium Web', sans-serif;
  background-color: #57b343;
  border: 0.5rem  solid #57b343;
  border-radius: 0.3rem;
  color: white;
  cursor: pointer;
}


.notice{
  .notice-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

  }
}



.noticeDetails{
  background-color: $bg-secondary;
  border-radius: 1rem;
  color: white;
  padding: 1rem;
  .wrapper-notice{
    border: 0.3rem solid #54544c;
    border-radius: 0.5rem;
  }
}

.noticeList{
  color: black;
}

.none{
  display: none;
}


