body {
  margin: 0 auto;
  font-family: 'Titillium Web', sans-serif;
  background-image: url("img/leaves.png");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
